@page
@model PortfolioWebApp.Pages.Projects.DungeonRunnerModel
@{
}

<div class="container">
    <div class="pt-md-2">

        <h2>Dungeon Runner (Work In Progress)</h2>
    </div>
    <p class="lead, pt-md-2">Top-Down Maze Runner designed to be ported to mobile.</p>


    <div class="pt-md-5">
        <p>Pick ups</p>
        <img src="~/images/gif/DRgif1.gif" class="img-fluid" alt="placeholder2">
    </div>

    <div class="pt-md-5">
        <p>Prototype of a level with a basic enemy set up using a FSM</p>
        <img src="~/images/gif/DRgif2.gif" class="img-fluid" alt="placeholder1">
    </div>

    <div class="pt-md-5">
        <a href="#" role="button" class="btn btn-primary btn-lg disabled">
            <img src="/images/download.svg"> Download
        </a>

        <a href="#" role="button" class="btn btn-primary btn-lg disabled" aria-disabled="true">
            <img src="/images/file-code.svg"> Source Code
        </a>
    </div>

</div>