@page
@model PortfolioWebApp.Pages.Projects.KitefallModel
@{
}

<div class="container">
    <div class="pt-md-2">

        <h2>Kitefall</h2>
    </div>
    <p>Top-Down RPG inspired by League of Legend.</p>


    <div class="pt-md-5">
        <p>Advanced Enemy AI, and tight Player Controls</p>
        <img src="~/images/gif/Kitefallgif2.gif" class="img-fluid" alt="placeholder2">
    </div>

    <div class="pt-md-5">
        <p>Inventory and Equipment System working with Skill Slots for customizable Ability Set</p>
        <img src="~/images/gif/Kitefallgif1.gif" class="img-fluid" alt="placeholder1">
    </div>

    <div class="pt-md-5">
        <p>Advanced Boss AI</p>
        <img src="~/images/gif/Kitefallgif3.gif" class="img-fluid" alt="placeholder1">
    </div>


    <div class="pt-md-5">
        <a href="https://dresky.itch.io/kitefall" role="button" class="btn btn-primary btn-lg">
            <img src="/images/download.svg"> Download
        </a>

        <a href="#" role="button" class="btn btn-primary btn-lg disabled" aria-disabled="true">
            <img src="/images/file-code.svg"> Source Code
        </a>
    </div>

</div>