@page
@model PortfolioWebApp.Pages.Projects.PortfolioWebpageModel
@{
}

<div class="container">
    <div class="pt-md-2">

        <h1 class="display-4">Portfolio Webpage</h1>
    </div>
    <p class="lead">Webpage created in Visual Studio with Razor Pages ASP.NET Core. Data for the project list is serialized from a JSON. 
    The Styling of the webpage was done with Bootstrap 4.</p>


    <div class="pt-md-5">
        <a href="~/Index" role="button" class="btn btn-primary btn-lg">
            <img src="/images/card-image.svg"> Showcase
        </a>

        <a href="https://github.com/Saze2/" role="button" class="btn btn-primary btn-lg">
            <img src="/images/file-code.svg"> Source Code
        </a>
    </div>

</div>