@page
@model PortfolioWebApp.Pages.AboutModel
@{
}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">About</h1>
    <p class="lead">Short Description.</p>
</div>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <p class="text-sm-center"><strong>Technical Skills</strong></p>
        </li>
        <li class="list-group-item ">
            <p><strong>Programming: </strong>C#, Java, SQL</p>
        </li>
        <li class="list-group-item">
            <p><strong>Web: </strong>HTML, CSS, Bootstrap v4</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>Tools: </strong>Unity, Visual Studio IDE, Visual Studio Code, IntelliJ IDEA, Gluon
                Scene Builder
            </p>
        </li>
    </ul>
</div>